
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #232323;
    padding: 20px;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin-right: 30px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    color: #ccc;
}


main {
    max-width: 1000px;
    margin: 0 auto;
}


section {
    padding: 60px;
}


.home {
    background-color: #eaeaea;
    text-align: center;
}

.home h1 {
    font-size: 42px;
    margin-top: 20px;
}

.home p {
    font-size: 20px;
    margin-top: 20px;
}

.menu {
    background-color: #fff;
}

.menu img {
    width: 100%;
    margin-top: 20px;
}

.menu-item {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

.menu li {
    font-size: 20px;
    margin-bottom: 15px;
}

.menu span {
    font-weight: bold;
}

/* About */
.about {
    background-color: #f5f5f5;
}

.about p {
    font-size: 20px;
    margin-top: 20px;
}


.contact {
    background-color: #fff;
}

.contact p {
    font-size: 20px;
    margin-top: 20px;
}

footer {
    background-color: #232323;
    color: #fff;
    text-align: center;
    padding: 20px;
}
